#cabecera{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100px;
    
}

h1{
    letter-spacing: 3px;
    margin: 0;
    padding: 0;
    font-family: 'PokemonSolid', sans-serif;
    font-size: 3.5em;
    color: #ffcb05;
    -webkit-text-stroke: 2px #2a75bb;
}