:root {
  --ancho-pokedex: 70%;
  --padding-h-pokedex: 25px;
}

#pokedex-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    position: relative;
    bottom: 0;
    left: 0;  
}

/*Pokedex header*/
#pokedex-header {
  background-color: #bf0514;
  border-top-left-radius: 25px;
  border-top-right-radius: 10px;
  position: relative;
  padding-inline: 15px;
  padding-block: 30px;
  padding-inline: var(--padding-h-pokedex);
  border-bottom: 2px solid black;
  width: var(--ancho-pokedex);
}

#iconos-pokedex{
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  height: 100%;
}

#circulo {
  width: 50px;
  height: 50px;
  background-color: #4ba3ff;
  border: 4px solid white;
  border-radius: 50%;
  animation: parpadeoCirculo 2.5s infinite;
}

#luces {
  display: flex;
  gap: 10px;
}

.luz {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid black;
}

#azul { 
  background-color: rgb(0, 255, 242);
  animation: parpadeoAzul 2s infinite;
}

#amarillo { 
  background-color: rgb(255, 255, 0);
  animation: parpadeoAmarillo 2s infinite;
}

#verde { 
  background-color: rgb(1, 255, 1); 
  animation: parpadeoVerde 2s infinite;
}

/*Animacion luces*/
@keyframes parpadeoAzul {
  0%, 100% { opacity: 0.6; }
  10%, 20% { opacity: 1; }
}

@keyframes parpadeoAmarillo {
  0%, 30% { opacity: 0.6; }
  40%, 50% { opacity: 1; }
  60%, 100% { opacity: 0.6; }
}

@keyframes parpadeoVerde {
  0%, 60% { opacity: 0.6; }
  70%, 80% { opacity: 1; }
  90%, 100% { opacity: 0.6; }
}

@keyframes parpadeoCirculo {
  0%, 40% { opacity: 0.8; }
  50%, 80% { opacity: 1; }
  90%, 100% { opacity: 0.8; }
}

/*Titulo*/
#titulo-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  letter-spacing: 3px;
  margin: 0;
  padding: 0;
  font-family: 'PokemonSolid', sans-serif;
  font-size: 2.5em;
  color: #ffcb05 !important;
  -webkit-text-stroke: 2px #2a75bb;
}

/*Pantalla pokedex*/
#marco{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 15px;
  padding-top: 25px;
  border-radius: 10px;
  margin-top: 30px;
}

#pokedex-overlay{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: red;
  width: var(--ancho-pokedex);
  padding-inline: var(--padding-h-pokedex);
  padding-bottom: 60px;
}

#pokedex-pantalla{
    width: 100%;
    height: 650px;
    overflow: auto;
    background-color: #2b2b2bac;
    border-radius: 5px;
}

/*Scroll*/
#pokedex-pantalla {
  scrollbar-width: thin;
  scrollbar-color: #ccc transparent;
}

#pokedex-pantalla::-webkit-scrollbar {
  width: 114px;
}

#pokedex-pantalla::-webkit-scrollbar-track {
  background: transparent;
}

#pokedex-pantalla::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
  border: 4px solid transparent;
  background-clip: content-box;
}
