body {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: sans-serif;
}

@font-face {
  font-family: 'PokemonSolid';
  src: url('assets/fonts/PokemonSolid.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}